@import "tailwindcss";

:root {
  --primary: #00e353;
  --secondary: #ffa200;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  scroll-behaviour: smooth;
}
